webSite/.idea/*
webSite/__pycache__
webSite/.DS_Store
webSite/*/databases.py
webSite/uploads/*
webSite/*/*.pyc
webSite/docxImgAnonymisateur/includes/doc_a_anonymiser/*
webSite/docxImgAnonymisateur/includes/doc_anonyme/*
webSite/secret_key.txt
