<div id="ajax_writtable">

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="box box-sucess">
        <div class="box-header with-border">
            <h3 class="box-title">Recherche de Vulnérabilités.</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="{% url 'home:search_vuln' %}" method="post" id="formulaire_recherche_vuln">
                <!-- text input -->
                <div class="form-group {% if form.mot_clef.errors %}has-error{% endif %}">
                    {{ form.mot_clef.label_tag }} {{ form.mot_clef }}
                    {% for error in form.mot_clef.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if form.recherche_dans_la_description_de_la_vuln.errors %}has-error{% endif %}">
                    {{ form.recherche_dans_la_description_de_la_vuln.label_tag }} {{ form.recherche_dans_la_description_de_la_vuln }}
                    {% for error in form.recherche_dans_la_description_de_la_vuln.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if form.activites_liees.errors %}has-error{% endif %}">
                    {{ form.activites_liees.label_tag }} {{ form.activites_liees }}
                    {% for error in form.activites_liees.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Search for Vulns!</button>
                </div><!-- /.col -->
                {% csrf_token %}
            </form>
        </div><!-- /.box-body -->
    </div>

    {%  if vulnerabilite_list %}
    <ul>
    {%  for vuln in vulnerabilite_list %}
        <li>
            <a href="{% url 'home:show_me_this_vuln' vuln.id %}">{{ vuln.mots_clefs.first }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Désolé, nous n'avons trouvé aucun résultat correspondant à votre recherche.</p>
    {% endif %}

</div> {# end ajax_writtable #}