{% extends "docxImgAnonymisateur/layout.html" %}
{% load staticfiles %}
{% load my_filters %}

<!-- page head title -->
{% block base_title %}Anonymyser | {{ block.super }}{% endblock %}

<!-- Page content header title -->
{% block base_content_header_title %}Anonymiser - Docx | {{ block.super }}{% endblock %}

<!-- Page content header optional description -->
{% block base_content_header_title_description %}Anonymiser les images contenues dans vos documents Word{% endblock %}

<!-- Page content breadcrumb (fil d'arianne) -->
<!-- le breadcrumb peut aller jusqu'a une profondeur de 4 (previous4) -->
{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='anonymiser' only %}
{% endblock %}

{% block page_header_addons %}
{% endblock %}

{% block page_footer_addons %}
{% endblock %}

{% block body %}
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="box box-sucess">
        <div class="box-header with-border">
            <h3 class="box-title">Anonymisation de documents Word.</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="{% url 'anonymiser:index' %}" method="post" id="formulaire_anonymisation" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group {% if form.fichier.errors %}has-error{% endif %}">
                            {{ form.fichier.label_tag }} {{ form.fichier }}
                            {% for error in form.fichier.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group {% if form.niveau_de_flou.errors %}has-error{% endif %}">
                            {{ form.niveau_de_flou.label_tag }} {{ form.niveau_de_flou }}
                            {% for error in form.niveau_de_flou.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <h3>Remplacement dans le texte : Attention !</h3>
                <h5>Le remplacement se fait directement dans le XML du .docx,
                    cela peut donc endommager le .docx si vous utilisez des caractères propres au XML.</h5>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {% if form.texte_original.errors %}has-error{% endif %}">
                            {{ form.texte_original.label_tag }} {{ form.texte_original }}
                            {% for error in form.texte_original.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group {% if form.texte_final.errors %}has-error{% endif %}">
                            {{ form.texte_final.label_tag }} {{ form.texte_final }}
                            {% for error in form.texte_final.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ form.extra_field_count }}
                <div class="row" id="other_fields">
                    {% for i in form.extra_fields|times_0 %}
                        {% with texte_original='extra_texte_original_'|addstr:i %}
                        {% with f_texte_original=form|keyvalue:texte_original %}
                    <div class="col-sm-6">
                        <div class="form-group {% if f_texte_original.errors %}has-error{% endif %}">
                            {{ f_texte_original.label_tag }} {{ f_texte_original }}
                            {% for error in f_texte_original.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                        {% endwith %}
                        {% endwith %}

                        {% with texte_final='extra_texte_final_'|addstr:i %}
                        {% with f_texte_final=form|keyvalue:texte_final %}
                    <div class="col-sm-6">
                        <div class="form-group {% if f_texte_final.errors %}has-error{% endif %}">
                            {{ f_texte_final.label_tag }} {{ f_texte_final }}
                            {% for error in f_texte_final.errors %}
                            <p class="text-red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>

                <div class="col-xs-4 col-xs-offset-4">
                    <button class="btn btn-warning btn-block btn-flat" id="add-another" type="button">
                        <i class="fa fa-plus"></i>
                        Rajoutez une "Recherche"
                    </button>
                <br>
                </div><!-- /.col -->

                <br>

                <div class="col-xs-6 col-xs-offset-3">
                    <button type="submit" class="btn btn-success btn-block btn-flat">
                        <i class="fa fa-user-secret"></i>
                        Anonymisation
                    </button>
                </div><!-- /.col -->
                {% csrf_token %}
            </form>
        </div><!-- /.box-body -->
    </div>
{% endblock %}

{% block base_footer_addons %}
    {{ block.super }}
    <script type="text/javascript">
        form_count = $("#id_extra_field_count").val();
        // get extra form count so we know what index to use for the next item.
        $("#add-another").click(function() {
            html =
                    '<div class="col-sm-6">' +
                        '<div class="form-group">' +
                            '<label for="id_extra_texte_original_' + form_count + '">Extra texte original ' + form_count + ':</label>' +
                            '<input class="form-control" id="id_extra_texte_original_' + form_count + '" name="extra_texte_original_' + form_count + '" placeholder="amossys" type="text" />' +
                        '</div>' +
                    '</div>' +
                    '' +
                    '<div class="col-sm-6">' +
                        '<div class="form-group ">' +
                            '<label for="id_extra_texte_final_' + form_count + '">Extra texte final ' + form_count + ':</label>' +
                            '<input class="form-control" id="id_extra_texte_final_' + form_count + '" name="extra_texte_final_' + form_count + '" placeholder="[client]" type="text" />' +
                        '</div>' +
                    '</div>'
            ;
            form_count ++;

            $("#other_fields").append(html);
            // build element and append it to our forms container

            $("#id_extra_field_count").val(form_count);
            // increment form count so our view knows to populate
            // that many fields for validation
        })
    </script>
{% endblock %}
