{% extends "vuln/layout.html" %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active='recos' only %}
{% endblock %}

{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='reco-detail' prev1Name='recos' prev1Url='vuln:recos' only %}
{% endblock %}

{% block body %}
    <a href="{% url 'vuln:show_me_this_reco' recommandation.id %}"> <h2>Recommandation {{ recommandation }}</h2></a>
    {% include "vuln/reco_display.html" %}

    <h3>Vulnérabilité associée :</h3>
    {% if recommandation.vuln %}
        {% include "vuln/vuln_display.html" with vulnerabilite=recommandation.vuln %}
    {% else %}
        Aucune vulnérabilité associée à cette recommandation.
        <a href="{% url 'admin:vuln_recommandation_change' recommandation.id %}">Ajoutez-en !</a>
    {% endif %}
{% endblock %}
