{% extends "vuln/layout.html" %}
{% load staticfiles %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active='recos' only %}
{% endblock %}

{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='recos' only %}
{% endblock %}

{% block body %}
    {% include 'vuln/recommandation_list_body.html' %}
{% endblock %}

{% block base_footer_addons %}
    <script src="{% static 'vuln/select2.min.js' %}"></script>
    <script src="{% static 'vuln/ajaxRecoForm.js' %}" type="text/javascript"></script>
{% endblock %}

{% block page_header_addons %}
    <!-- select2 -->
    {{ block.super }}
    <link href="{% static 'vuln/select2.min.css' %}" rel="stylesheet"/>
{% endblock %}