<div class="box">
    {% if recommandation.themes.all %}
    <div class="box-header">
        <h3>
            Cette recommandation concerne : 
        </h3>
        <h4 style="margin-bottom:0px;">
            {% for mot_clef in recommandation.themes.all %}
            <i>{{ mot_clef.nom }}</i> {% if not forloop.last %} ; {% endif %}
            {% endfor %}
        </h4>
    </div>
    {% endif %}


    <div class="box-body">
        <ul>
            <li>
                <h4>Urgence de la recommandation :</h4>
                <ul>
                    <li>
                        Niveau : {{ recommandation.echeance.niveau }}
                    </li>
                    <li>
                        Description : {{ recommandation.echeance.description }}
                    </li>
                </ul>
            </li>
            <li>
                <h4>Coût de la recommandation :</h4>
                <ul>
                    <li>Coût humain : {{ recommandation.cout_reco.cout_homme_mois }} homme.mois</li>
                    <li>Coût initial : {{ recommandation.cout_reco.cout_initial_euros }}€</li>
                    <li>Coût récurrent : {{ recommandation.cout_reco.cout_recurrent_euros }}€</li>
                </ul>
            </li>
            <li>
                <h4>Explication détaillée pour le client :</h4>
                {{ recommandation.explication|linebreaks }}
            </li>
        </ul>

        <hr>

        <a href="{% url 'admin:vuln_recommandation_change' recommandation.id %}" class="btn btn-success btn-flat" style="display:block;">
            <i class="fa fa-arrow-right"></i>
            Modifiez cette Recommandation.
        </a>

    </div>
</div>

