{% extends "vuln/layout.html" %}

{% block body_skin_class %}skin-green{% endblock %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "webSite/menu.html" with active='recos' only %}
{% endblock %}

{% block base_content_header_breadcrumb %}
    {% include 'webSite/breadcrumb.html' with current='reco-detail' prev1Name='recos' prev1Url='vuln:recos' only %}
{% endblock %}

{% block body %}
    {% include "vuln/reco_display.html" %}

    <h2>Vulnérabilité associée :</h2>
    {% if recommandation.vuln %}
        {% include "vuln/vuln_display.html" with vulnerabilite=recommandation.vuln %}
    {% else %}
        Aucune vulnérabilité associée à cette recommandation.
        <a href="{% url 'admin:vuln_recommandation_change' recommandation.id %}">Ajoutez-en !</a>
    {% endif %}
{% endblock %}
