<div id="ajax_writtable">

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="box box-sucess">
        <div class="box-header with-border">
            <h3 class="box-title">Recherche de Recommandations par mot-clef.</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="{% url 'vuln:search_reco' %}" method="post" id="formulaire_recherche_reco">

                <div class="form-group {% if form.themes.errors %}has-error{% endif %}">
                    <label for="themes_choice">{{ form.themes.label }}</label>
                    {{ form.themes }}<!-- hidden tag -->
                    <select class="form-control" id="themes_choice" multiple="multiple">
                        {% for theme_reco in themes_recos %}
                            <option value="{{ theme_reco.pk }}" {% if theme_reco in themes_recos_selectionnes %}selected{% endif %}>{{ theme_reco.nom }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.themes.errors %}
                        <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if form.recherche_dans_explication_reco.errors %}has-error{% endif %}">
                    {{ form.recherche_dans_explication_reco.label_tag }} {{ form.recherche_dans_explication_reco }}
                    {% for error in form.recherche_dans_explication_reco.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Search for Recos!</button>
                </div><!-- /.col -->
                {% csrf_token %}
            </form>
        </div><!-- /.box-body -->
    </div>


    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'admin:vuln_recommandation_add' %}" class="btn btn-default btn-flat" style="display:block;">
                <i class="fa fa-plus"></i>
                Ajouter une Recommandation
            </a>
            <br>
        </div>
    </div>

    <div class="box">

        <div class="box-header">
            <h3 class="box-title">

                Recommandations trouvées :

            </h3>
        </div>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th class="text-center">Thèmes</th>
                        <th class="text-center">Explication</th>
                        <th>Echéance</th>
                        <th style="width:110px;">Coût reco.</th>
                    </tr>

                    {%  if recommandation_list %}
                    {%  for recommandation in recommandation_list %}

                        <tr class="{% cycle 'active' '' %}"
                            onclick="javascript:location.href='{% url 'vuln:show_me_this_reco' recommandation.id %}'"
                            style="cursor: pointer;">

                            <td>
                                {% for mot_clef in recommandation.themes.all %}
                                <span class="badge bg-green">{{ mot_clef.nom|truncatechars:30 }}</span><br>
                                {% endfor %}
                            </td>
                            <td>
                            {% if recommandation.explication %}
                                {{ recommandation.explication|truncatechars:200 }}
                            {% else %}
                                Aucune explication.
                            {% endif %}
                            </td>

                            <td>
                                <span class="badge bg-{% ifequal recommandation.echeance.niveau 1 %}green{% else %}{% ifequal recommandation.echeance.niveau 2 %}yellow{% else %}red{% endifequal %}
                                {% endifequal %}">
                                    {{ recommandation.echeance.description }}
                                </span>
                            </td>

                            <td>
                                <span class="badge bg-{% ifequal recommandation.cout_reco.niveau 1 %}green{% else %}{% ifequal recommandation.cout_reco.niveau 2 %}yellow{% else %}red{% endifequal %}
                                {% endifequal %}">
                                    {{ recommandation.cout_reco.description }}
                                </span>
                            </td>

                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>Désolé,</td>
                            <td>nous n'avons trouvé</td>
                            <td>aucun résultat </td>
                            <td>correspondant</td>
                            <td>à votre recherche.</td>
                        </tr>
                    {% endif %}



                </tbody>
            </table>
        </div>

    </div>


</div> {# end ajax_writtable #}