{% extends "vuln/layout.html" %}

<!-- Left Sidebar Menu -->
{% block base_left_sidebar_menu %}
    {% include "LTE/menu.html" with active='index' only %}
{% endblock %}

{% block base_content_header_breadcrumb %}
    {% include 'LTE/breadcrumb.html' with current='vuln-detail' prev1Name='vulns' prev1Url='vuln:index' only %}
{% endblock %}

{% block body %}
    <h4>Affichage temporaire le temps de remplir la BDD.</h4>
    <a href="{% url 'vuln:show_me_this_vuln' vulnerabilite.id %}"> <h2>Vulnérabilite {{ vulnerabilite }}</h2></a>
    {% include "vuln/vuln_display.html" %}

    <h3>Recommandation(s) associée(s) :</h3>
    {% if vulnerabilite.recommandation_set.all %}
        {% for recommandation in vulnerabilite.recommandation_set.all %}
            {% include "vuln/reco_display.html" %}
        {% endfor %}
    {% else %}
        Aucune recommandation disponnible pour cette vulnérabilité.
        <a href="{% url 'admin:vuln_recommandation_add' %}">Ajoutez-en !</a>
    {% endif %}
{% endblock %}
