<div id="ajax_writtable">

    {% load my_filters %}
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="box box-sucess">
        <div class="box-header with-border">
            <h3 class="box-title">Recherche de Vulnérabilités.</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form action="{% url 'vuln:search_vuln' %}" method="post" id="formulaire_recherche_vuln">

                <div class="form-group {% if form.mots_clefs.errors %}has-error{% endif %}">
                    <label for="mots_clefs_choice">{{ form.mots_clefs.label }}</label>
                    {{ form.mots_clefs }}<!-- hidden tag -->
                    <select class="form-control" id="mots_clefs_choice" multiple="multiple">
                        {% for mot_clef in vuln_mots_clefs %}
                            <option value="{{ mot_clef.pk }}" {% if mot_clef in mots_clefs_selectionnes %}selected{% endif %}>{{ mot_clef.nom }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.mots_clefs.errors %}
                        <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group {% if form.recherche_dans_la_description_de_la_vuln.errors %}has-error{% endif %}">
                    {{ form.recherche_dans_la_description_de_la_vuln.label_tag }} {{ form.recherche_dans_la_description_de_la_vuln }}
                    {% for error in form.recherche_dans_la_description_de_la_vuln.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>

                {% for index_activite in form.dernier_index|times %}
                    {% with variable_activite='activites_liees_'|addstr:index_activite %}
                    {% with activite_liee=form|keyvalue:variable_activite %}
                <div class="form-group {% if activite_liee.errors %}has-error{% endif %}">
                    {{ activite_liee.label_tag }} {{ activite_liee }}
                    {% for error in activite_liee.errors %}
                    <p class="text-red">{{ error }}</p>
                    {% endfor %}
                </div>
                    {% endwith %}
                    {% endwith %}
                {% endfor %}


                {{ form.index_modifie }}

                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Search for Vulns!</button>
                </div><!-- /.col -->
                {% csrf_token %}
            </form>
        </div><!-- /.box-body -->
    </div>

    <a href="{% url 'admin:vuln_vulnerabilite_add' %}" class="btn btn-default btn-flat">
        <i class="fa fa-plus"></i>
        Ajouter une Vulnérabilité
    </a>

    {%  if vulnerabilite_list %}
    <a href="{% url 'admin:vuln_vulnerabilite_add' %}"></a>
    <h4>Affichage temporaire le temps de remplir la BDD.</h4>
    <ul>
    {%  for vuln in vulnerabilite_list %}
        <li>
            <a href="{% url 'vuln:show_me_this_vuln' vuln.id %}">{{ vuln }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Désolé, nous n'avons trouvé aucun résultat correspondant à votre recherche.</p>
    {% endif %}

</div> {# end ajax_writtable #}